@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus tincidunt mauris, sed consequat sapien ornare id. Morbi et erat ac urna dignissim bibendum et eu ligula.</p>
        </div>
    </div>
</header>
