<div class="card mt-4">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search" class="d-inline">
            <div class="mb-3 d-inline">
                <input name="q" class="form-control me-2" type="search" placeholder="Arama" aria-label="Search">
            </div>
            <button class="btn btn-danger me-0 d-block mt-3" style="width:100%;" type="submit">Ara</button>
        </form>
    </div>
</div>